@import "tailwindcss";



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #020617;
  background: #f3f4f6;
  font-family: "Open Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    @apply text-base;
    @apply font-medium;
    @apply leading-7;
  }

  blockquote {
    @apply italic;
    @apply border-l-4;
    @apply border-slate-300;
    @apply pl-4;
    @apply text-slate-700;
  }
}